
<button type="button" mdbBtn color="primary" class="relative waves-light addbtn" (click)="basicModal.show()" mdbWavesEffect>Add Image</button>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Add you'r image</h4>
      </div>
      <div class="modal-body">
          <div class="md-form">
              <input mdbInputDirective type="text" id="form1" class="form-control" #title>
              <label for="form1" class="">Title</label>
          </div>
          <div class="md-form">
              <input mdbInputDirective type="text" id="form1" class="form-control" #url>
              <label for="form1" class="">Image URL</label>
          </div>
          <div class="md-form">
              <input mdbInputDirective type="text" id="form1" class="form-control" #desc>
              <label for="form1" class="">Descriptions</label>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" mdbBtn color="primary" class="relative waves-light" aria-label="Close" (click)="add()" mdbWavesEffect>Save changes</button>
      </div>
    </div>
  </div>
</div>

